<h1>
  <%= @job.company_name %>
  <small><%= @job.position_title %></small>
</h1>

<% if notice %>
  <p class="alert-box success"><%= notice %></p>
<% end -%>

<div>
  <%= link_to 'Edit job', edit_job_path(@job), class: "secondary small button" %>
  <%= link_to 'Back to list', jobs_path, class: "secondary small button" %>
</div>

<div ng-app="blang">
  <div ng-controller="JobUpdateCtrl" data-job-id="<%= @job.id %>">
    <form ng-submit="add()" action="" class="new-job-update">
      <fieldset>
        <legend>New job update</legend>
        <div class="row">
          <div class="large-10 columns">
            <input ng-model="jobUpdate.description" type="text" placeholder="Description" required/>
          </div>
          <div class="large-2 columns">
            <input class="small button expand" type="submit" value="Create"/>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="job-updates">
      <div class="job-update" ng-repeat="jobUpdate in jobUpdates">
        <div class="row">
          <div class="small-6 columns created-at">
            <small class="relative">{{ jobUpdate.relative_created_at }}</small>
            <small class="absolute">{{ jobUpdate.absolute_created_at }}</small>
          </div>
          <div class="small-6 columns align-right">
            <button class="tiny button secondary" ng-click="delete($index)">Destroy</button>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <p>{{ jobUpdate.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
